<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252367132425-2lv9l03j56s4scfg6dddcu9cc27ivq20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252367132425-2lv9l03j56s4scfg6dddcu9cc27ivq20</string>
	<key>API_KEY</key>
	<string>AIzaSyDNuHOEI8oy-SHDo_9-cQfl38QX5dAXlsA</string>
	<key>GCM_SENDER_ID</key>
	<string>252367132425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sutori.InstagramFirestoreTutorial</string>
	<key>PROJECT_ID</key>
	<string>instagramfirestoretutori-d73a6</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirestoretutori-d73a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252367132425:ios:e56e06d2d2f68a20fce5d8</string>
</dict>
</plist>